# UNIVERSITITES

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\University and vocational schools admission in Russia 2014-2023.csv")
df

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5563,5564,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Design and Restoration,2014.0,NaN,3471.0
5564,5565,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Film and Screen Arts,2014.0,NaN,162.0
5565,5566,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Military Management,2014.0,NaN,0.0
5566,5567,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Ensuring National Security,2014.0,NaN,NaN
5567,5568,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,10,Oriental and African Studies,Oriental and African Studies,2014.0,NaN,0.0

In [9]:
# FIRST WE TRY RO PRESERVE DATA INTEGRITY
df2 = df
df2

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5563,5564,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Design and Restoration,2014.0,NaN,3471.0
5564,5565,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Film and Screen Arts,2014.0,NaN,162.0
5565,5566,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Military Management,2014.0,NaN,0.0
5566,5567,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Ensuring National Security,2014.0,NaN,NaN
5567,5568,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,10,Oriental and African Studies,Oriental and African Studies,2014.0,NaN,0.0

In [10]:
# NEXT WE DROP DUPLICATES
df2.drop_duplicates()

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5563,5564,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Design and Restoration,2014.0,NaN,3471.0
5564,5565,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Film and Screen Arts,2014.0,NaN,162.0
5565,5566,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Military Management,2014.0,NaN,0.0
5566,5567,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Ensuring National Security,2014.0,NaN,NaN
5567,5568,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,10,Oriental and African Studies,Oriental and African Studies,2014.0,NaN,0.0

In [11]:
# NOW WE GO INTO DATA CLEANING PROPERLY
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   5568 non-null   int64
 1   Education level         5568 non-null   object
 2   Degree                  5568 non-null   object
 3   Tuition fees            5568 non-null   object
 4   ID                      5568 non-null   int64
 5   Branches of Science     5568 non-null   object
 6   Group of Professions    5568 non-null   object
 7   Year                    4896 non-null   float64
 8   Number of Applications  4400 non-null   float64
 9   Number of Students      4800 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 435.1+ KB

In [12]:
df2

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5563,5564,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Design and Restoration,2014.0,NaN,3471.0
5564,5565,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,8,Arts and Culture,Film and Screen Arts,2014.0,NaN,162.0
5565,5566,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Military Management,2014.0,NaN,0.0
5566,5567,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,9,Military Science,Ensuring National Security,2014.0,NaN,NaN
5567,5568,Vocational Education,Mid-Career Professionals,Full pay / tuition fee,10,Oriental and African Studies,Oriental and African Studies,2014.0,NaN,0.0

In [17]:
df2 = df2.dropna()
df2

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5504,5505,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Musical Art,2014.0,14490.0,9225.0
5505,5506,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Design and Restoration,2014.0,19959.0,8122.0
5506,5507,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Film and Screen Arts,2014.0,772.0,416.0
5507,5508,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,9,Military Science,Military Management,2014.0,0.0,0.0
5509,5510,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,10,Oriental and African Studies,Oriental and African Studies,2014.0,0.0,0.0

In [22]:
df3 = df2
df3

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
5504,5505,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Musical Art,2014.0,14490.0,9225.0
5505,5506,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Design and Restoration,2014.0,19959.0,8122.0
5506,5507,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Film and Screen Arts,2014.0,772.0,416.0
5507,5508,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,9,Military Science,Military Management,2014.0,0.0,0.0
5509,5510,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,10,Oriental and African Studies,Oriental and African Studies,2014.0,0.0,0.0

In [24]:
df2 = df2[(df2['Number of Applications'] != 0.0) & (df2['Number of Students'] != 0.0)].reset_index(drop= True)
df2

,Index,Education level,Degree,Tuition fees,ID,Branches of Science,Group of Professions,Year,Number of Applications,Number of Students
0,1,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Mathematics and Mechanics,2014.0,47923.0,7144.0
1,2,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Computer Science,2014.0,28787.0,3238.0
2,3,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Physics and Astronomy,2014.0,23906.0,4391.0
3,4,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Chemistry,2014.0,25930.0,2367.0
4,5,Higher Education,Bachelor's degree,Scholarship / tuition-free,1,Mathematical and Natural Sciences,Earth Science,2014.0,43434.0,6745.0
...,...,...,...,...,...,...,...,...,...,...
3101,5503,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Cultural Studies and Socio-Cultural Projects,2014.0,10983.0,6006.0
3102,5504,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Performing Arts and Literary Creativity,2014.0,3039.0,937.0
3103,5505,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Musical Art,2014.0,14490.0,9225.0
3104,5506,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Design and Restoration,2014.0,19959.0,8122.0
3105,5507,Vocational Education,Mid-Career Professionals,Scholarship / tuition-free,8,Arts and Culture,Film and Screen Arts,2014.0,772.0,416.0

In [25]:
# EXPLORATORY ANALYSIS
# 1) COUNT OF EDUCATION LEVEL
educ_level = df2[df2['Education level'] != ''].groupby('Education level')
educ_level = educ_level.size().reset_index(name= 'Count').sort_values(by='Count', ascending= False)
educ_level

        Education level  Count
0      Higher Education   2165
1  Vocational Education    941

In [26]:
# COUNT OF DEGREE
Degree = df2[df2['Degree'] != ''].groupby('Degree')
Degree = Degree.size().reset_index(name= 'Count').sort_values(by='Count', ascending= False)
Degree

                          Degree  Count
1                Master's degree    792
0              Bachelor's degree    785
2       Mid-Career Professionals    630
4            Specialist's degree    588
3  Skilled workers and Employees    311

In [27]:
# COUNT OF TUITION FEES
tuition = df2[df2['Tuition fees'] != ''].groupby('Tuition fees')
tuition = tuition.size().reset_index(name= 'Count').sort_values(by='Count', ascending= False)
tuition

                 Tuition fees  Count
1  Scholarship / tuition-free   1711
0      Full pay / tuition fee   1395

In [29]:
# Count of branches
branches = df2[df2['Branches of Science'] != ''].groupby('Branches of Science')
branches = branches.size().reset_index(name= 'Count').sort_values(by='Count', ascending= False)
branches

                 Branches of Science  Count
3         Engineering and Technology   1319
9                    Social Sciences    456
1                   Arts and Culture    396
6  Mathematical and Natural Sciences    317
5                         Humanities    214
4            Healthcare and Medicine    207
0                        Agriculture     87
2    Education Sciences and Pedagogy     72
8       Oriental and African Studies     24
7                   Military Science     14

In [30]:
# COUNT OF PROFESSION
professions = df2[df2['Group of Professions'] != ''].groupby('Group of Professions')
professions = professions.size().reset_index(name= 'Count').sort_values(by='Count', ascending= False)
professions

                               Group of Professions  Count
19   Industrial Safety and Environmental Management     88
11                         Economics and Management     88
3                             Chemical Technologies     88
47             Transport Equipment and Technologies     88
21                           Information Technology     88
28                           Mechanical Engineering     88
7           Construction Equipment and Technologies     88
43    Shipbuilding and Water Transport Technologies     88
9                            Design and Restoration     88
13         Electrical and Thermal Power Engineering     88
48              Veterinary Medicine and Zootechnics     87
30                                      Musical Art     74
12                  Education Sciences and Pedagogy     72
20                             Information Security     72
8      Cultural Studies and Socio-Cultural Projects     72
32                    Nuclear Energy and Technology     72
22                                    Jurisprudence     72
45                             Technical Management     72
35          Performing Arts and Literary Creativity     72
23                      Light Industry Technologies     70
42                              Service and Tourism     70
18             Industrial Ecology and Biotechnology     70
17                          History and Archaeology     70
26                              Material Technology     69
44                    Sociology and Social Services     69
25                       Mass Media and Information     67
10                                    Earth Science     65
33                                          Nursing     55
41                                       Psychology     54
38                            Physics and Astronomy     54
37                    Physical Education and Sports     54
0                                      Architecture     54
16        Health Sciences and Preventive Healthcare     54
2                               Biological Sciences     54
27                        Mathematics and Mechanics     54
4                                         Chemistry     54
1                                       Art History     54
24                        Linguistics and Philology     54
39  Physics and Technical Sciences and Technologies     52
49                 Weaponry and Military Technology     48
36                                         Pharmacy     44
40           Political Science and Regional Studies     36
14                             Film and Screen Arts     36
6                                  Computer Science     36
5                                 Clinical Medicine     36
46                                         Theology     36
31                                   Nanotechnology     36
34                     Oriental and African Studies     24
15                             Fundamental Medicine     18
29                              Military Management     14

In [31]:
#COUNT OF YEAR
years = df2[df2['Year'] != ''].groupby('Year')
years = years.size().reset_index(name= 'Count').sort_values(by='Count', ascending= False)
years

     Year  Count
9  2023.0    354
6  2020.0    352
7  2021.0    352
4  2018.0    351
8  2022.0    351
5  2019.0    349
3  2017.0    346
2  2016.0    344
0  2014.0    154
1  2015.0    153

In [40]:
# What profession got the most number of students
most_students = df2[(df2['Group of Professions'] != '') & (df2['Number of Students'] != '')]
most_students = most_students.groupby('Group of Professions')['Number of Students']
most_students = most_students.sum().reset_index(name= 'total').sort_values(by='total', ascending= False)
most_students

                               Group of Professions      total
11                         Economics and Management  2663294.0
22                                    Jurisprudence  1716542.0
12                  Education Sciences and Pedagogy  1621734.0
21                           Information Technology  1265420.0
47             Transport Equipment and Technologies  1194635.0
7           Construction Equipment and Technologies   963430.0
28                           Mechanical Engineering   902144.0
42                              Service and Tourism   792868.0
5                                 Clinical Medicine   789067.0
13         Electrical and Thermal Power Engineering   602789.0
33                                          Nursing   557355.0
18             Industrial Ecology and Biotechnology   375092.0
9                            Design and Restoration   312690.0
37                    Physical Education and Sports   270144.0
24                        Linguistics and Philology   257434.0
25                       Mass Media and Information   248483.0
19   Industrial Safety and Environmental Management   230087.0
3                             Chemical Technologies   213332.0
48              Veterinary Medicine and Zootechnics   202085.0
41                                       Psychology   191577.0
45                             Technical Management   188783.0
43    Shipbuilding and Water Transport Technologies   187143.0
36                                         Pharmacy   163715.0
26                              Material Technology   149895.0
30                                      Musical Art   148756.0
20                             Information Security   145026.0
8      Cultural Studies and Socio-Cultural Projects   144857.0
44                    Sociology and Social Services   144435.0
27                        Mathematics and Mechanics   142616.0
23                      Light Industry Technologies   138807.0
17                          History and Archaeology   134342.0
10                                    Earth Science   114420.0
40           Political Science and Regional Studies   109800.0
0                                      Architecture    98907.0
2                               Biological Sciences    81170.0
38                            Physics and Astronomy    76931.0
6                                  Computer Science    61447.0
4                                         Chemistry    55717.0
35          Performing Arts and Literary Creativity    45774.0
32                    Nuclear Energy and Technology    24497.0
16        Health Sciences and Preventive Healthcare    22361.0
14                             Film and Screen Arts    20596.0
1                                       Art History    19504.0
39  Physics and Technical Sciences and Technologies    17110.0
46                                         Theology    16019.0
31                                   Nanotechnology    13276.0
34                     Oriental and African Studies    11984.0
15                             Fundamental Medicine     9551.0
49                 Weaponry and Military Technology     8337.0
29                              Military Management      111.0

In [41]:
# What profession got the most number of applications
most_applications = df2[(df2['Group of Professions'] != '') & (df2['Number of Applications'] != '')]
most_applications = most_applications.groupby('Group of Professions')['Number of Applications']
most_applications = most_applications.sum().reset_index(name= 'total').sort_values(by='total', ascending= False)
most_applications

                               Group of Professions       total
11                         Economics and Management  12176763.0
12                  Education Sciences and Pedagogy   7112929.0
21                           Information Technology   6640010.0
22                                    Jurisprudence   5427626.0
5                                 Clinical Medicine   4722492.0
47             Transport Equipment and Technologies   3197538.0
28                           Mechanical Engineering   2847354.0
7           Construction Equipment and Technologies   2813291.0
42                              Service and Tourism   2392509.0
13         Electrical and Thermal Power Engineering   2087157.0
24                        Linguistics and Philology   1911232.0
25                       Mass Media and Information   1570940.0
33                                          Nursing   1429396.0
20                             Information Security   1347378.0
45                             Technical Management   1144868.0
27                        Mathematics and Mechanics   1136928.0
9                            Design and Restoration   1112316.0
40           Political Science and Regional Studies   1067240.0
18             Industrial Ecology and Biotechnology   1016061.0
19   Industrial Safety and Environmental Management    980800.0
41                                       Psychology    979862.0
44                    Sociology and Social Services    942202.0
3                             Chemical Technologies    816778.0
37                    Physical Education and Sports    788767.0
36                                         Pharmacy    769792.0
17                          History and Archaeology    661670.0
48              Veterinary Medicine and Zootechnics    643489.0
6                                  Computer Science    574041.0
10                                    Earth Science    561078.0
8      Cultural Studies and Socio-Cultural Projects    549050.0
43    Shipbuilding and Water Transport Technologies    529938.0
26                              Material Technology    461554.0
0                                      Architecture    450941.0
2                               Biological Sciences    449935.0
38                            Physics and Astronomy    400267.0
4                                         Chemistry    379432.0
30                                      Musical Art    324606.0
23                      Light Industry Technologies    297430.0
16        Health Sciences and Preventive Healthcare    267144.0
35          Performing Arts and Literary Creativity    210808.0
15                             Fundamental Medicine    168905.0
31                                   Nanotechnology    160476.0
32                    Nuclear Energy and Technology    146831.0
1                                       Art History    112065.0
39  Physics and Technical Sciences and Technologies    104352.0
34                     Oriental and African Studies    102459.0
14                             Film and Screen Arts    101303.0
49                 Weaponry and Military Technology     60018.0
46                                         Theology     39104.0
29                              Military Management       782.0

In [44]:
# In 2020 what profession had the most application 
most_applications = df2[(df2['Group of Professions'] != '') & (df2['Number of Applications'] != '') & (df2['Year'] == 2020.0)]
most_applications = most_applications.groupby('Group of Professions')['Number of Applications']
most_applications = most_applications.sum().reset_index(name= 'total').sort_values(by='total', ascending= False)
most_applications

                               Group of Professions      total
11                         Economics and Management  1207710.0
21                           Information Technology   783344.0
12                  Education Sciences and Pedagogy   753201.0
5                                 Clinical Medicine   598088.0
22                                    Jurisprudence   591421.0
47             Transport Equipment and Technologies   385482.0
42                              Service and Tourism   320676.0
28                           Mechanical Engineering   313740.0
7           Construction Equipment and Technologies   301918.0
13         Electrical and Thermal Power Engineering   226622.0
24                        Linguistics and Philology   224247.0
33                                          Nursing   190070.0
25                       Mass Media and Information   181466.0
9                            Design and Restoration   146665.0
20                             Information Security   145541.0
27                        Mathematics and Mechanics   122436.0
40           Political Science and Regional Studies   120814.0
45                             Technical Management   110285.0
41                                       Psychology   109043.0
18             Industrial Ecology and Biotechnology   107862.0
19   Industrial Safety and Environmental Management   103095.0
37                    Physical Education and Sports   101406.0
36                                         Pharmacy    91261.0
3                             Chemical Technologies    91102.0
44                    Sociology and Social Services    90578.0
48              Veterinary Medicine and Zootechnics    76632.0
17                          History and Archaeology    67802.0
43    Shipbuilding and Water Transport Technologies    60632.0
8      Cultural Studies and Socio-Cultural Projects    59790.0
10                                    Earth Science    59304.0
6                                  Computer Science    58139.0
0                                      Architecture    51746.0
26                              Material Technology    47159.0
38                            Physics and Astronomy    45724.0
2                               Biological Sciences    45375.0
4                                         Chemistry    41711.0
30                                      Musical Art    37375.0
23                      Light Industry Technologies    33566.0
16        Health Sciences and Preventive Healthcare    31589.0
35          Performing Arts and Literary Creativity    21240.0
15                             Fundamental Medicine    19358.0
34                     Oriental and African Studies    16456.0
31                                   Nanotechnology    15137.0
32                    Nuclear Energy and Technology    14576.0
1                                       Art History    13315.0
14                             Film and Screen Arts    12873.0
39  Physics and Technical Sciences and Technologies    11453.0
49                 Weaponry and Military Technology     6315.0
46                                         Theology     4579.0
29                              Military Management      183.0

In [45]:
# In 2020 what profession had the most students
most_applications = df2[(df2['Group of Professions'] != '') & (df2['Number of Students'] != '') & (df2['Year'] == 2020.0)]
most_applications = most_applications.groupby('Group of Professions')['Number of Students']
most_applications = most_applications.sum().reset_index(name= 'total').sort_values(by='total', ascending= False)
most_applications

                               Group of Professions     total
11                         Economics and Management  295897.0
22                                    Jurisprudence  208383.0
12                  Education Sciences and Pedagogy  170055.0
21                           Information Technology  148269.0
47             Transport Equipment and Technologies  137229.0
7           Construction Equipment and Technologies  105233.0
42                              Service and Tourism  100988.0
28                           Mechanical Engineering  100225.0
5                                 Clinical Medicine   89049.0
33                                          Nursing   65412.0
13         Electrical and Thermal Power Engineering   63162.0
9                            Design and Restoration   37057.0
18             Industrial Ecology and Biotechnology   36572.0
24                        Linguistics and Philology   31178.0
25                       Mass Media and Information   30418.0
37                    Physical Education and Sports   29863.0
19   Industrial Safety and Environmental Management   25360.0
48              Veterinary Medicine and Zootechnics   22811.0
41                                       Psychology   22655.0
3                             Chemical Technologies   22263.0
43    Shipbuilding and Water Transport Technologies   20205.0
45                             Technical Management   19453.0
36                                         Pharmacy   18389.0
20                             Information Security   17390.0
30                                      Musical Art   15540.0
8      Cultural Studies and Socio-Cultural Projects   15012.0
44                    Sociology and Social Services   14807.0
27                        Mathematics and Mechanics   14673.0
26                              Material Technology   14523.0
23                      Light Industry Technologies   14488.0
17                          History and Archaeology   13890.0
40           Political Science and Regional Studies   12897.0
0                                      Architecture   11290.0
10                                    Earth Science   11252.0
2                               Biological Sciences    8438.0
38                            Physics and Astronomy    7569.0
6                                  Computer Science    6397.0
4                                         Chemistry    5722.0
35          Performing Arts and Literary Creativity    4922.0
16        Health Sciences and Preventive Healthcare    2549.0
1                                       Art History    2357.0
32                    Nuclear Energy and Technology    2219.0
34                     Oriental and African Studies    2109.0
46                                         Theology    2047.0
14                             Film and Screen Arts    1968.0
39  Physics and Technical Sciences and Technologies    1695.0
31                                   Nanotechnology    1370.0
15                             Fundamental Medicine    1135.0
49                 Weaponry and Military Technology     873.0
29                              Military Management      17.0

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3106 entries, 0 to 3105
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   3106 non-null   int64
 1   Education level         3106 non-null   object
 2   Degree                  3106 non-null   object
 3   Tuition fees            3106 non-null   object
 4   ID                      3106 non-null   int64
 5   Branches of Science     3106 non-null   object
 6   Group of Professions    3106 non-null   object
 7   Year                    3106 non-null   float64
 8   Number of Applications  3106 non-null   float64
 9   Number of Students      3106 non-null   float64
dtypes: float64(3), int64(2), object(5)
memory usage: 242.8+ KB